<div class="container">
    <div class="h3">Ups, Al parecer no estas authorizado a visualizar esta página.</div>
    <div>Quizas prefieras <a asp-controller="Authentication" asp-action="Logout">Ingresar con alguien mas</a>?</div>
</div>